.gap
  %h1.text-center.mb20 Top Destinations
  .row.row-wrap
    .col-md-4
      .thumb
        %header.thumb-header
          = link_to 'https://tripscrave.comencia.com/search/result?destinationString=+Dubai%2C+United+Arab+Emirates&site_supply=booking_dot_com&latitude=25.1951748673&longitude=55.2726778015&geographyId=6053839&regionType=A-CITY&destinationId=-782831&room1=2&arrivalDate=04%2F30%2F2018&departureDate=05%2F01%2F2018&adults_count_room_1=2&children_count_room_1=0&infant_count_room_1=0', class: 'hover-img' do
            = image_tag "cities/dubai.jpg"
            %h5.hover-title-center Book Now
        .thumb-caption          
          %h5.thumb-title
            %a.text-darken{:href => "#"} Dubai
    
    .col-md-4
      .thumb
        %header.thumb-header
          = link_to 'https://www.booking.com/searchresults.html?city=-3096108;aid=1474871', class: 'hover-img' do
            = image_tag "cities/jeddah.jpg"
            %h5.hover-title-center Book Now
        .thumb-caption
          %h5.thumb-title
            %a.text-darken{:href => "#"} Jeddah
          
    .col-md-4
      .thumb
        %header.thumb-header
          = link_to 'https://tripscrave.comencia.com/search/result?destinationString=+Kuala+Lumpur%2C+Malaysia&site_supply=booking_dot_com&latitude=3.1540507508&longitude=101.7077143354&geographyId=1951&regionType=A-CITY&destinationId=-2403010&room1=2&arrivalDate=04%2F30%2F2018&departureDate=05%2F01%2F2018&adults_count_room_1=2&children_count_room_1=0&infant_count_room_1=0', class: 'hover-img' do
            = image_tag "cities/kl.jpg"
            %h5.hover-title-center Book Now
        .thumb-caption
          %h5.thumb-title
            %a.text-darken{:href => "#"} Kuala Lumpur
          
    .col-md-4
      .thumb
        %header.thumb-header
          = link_to 'https://tripscrave.comencia.com/search/result?destinationString=+Bangkok%2C+Thailand&site_supply=booking_dot_com&latitude=13.7558383942&longitude=100.5056381226&geographyId=604&regionType=A-CITY&destinationId=-3414440&room1=2&arrivalDate=04%2F30%2F2018&departureDate=05%2F01%2F2018&adults_count_room_1=2&children_count_room_1=0&infant_count_room_1=0', class: 'hover-img' do
            = image_tag "cities/bangkok.jpg"
            %h5.hover-title-center Book Now
        .thumb-caption
          %h5.thumb-title
            %a.text-darken{:href => "#"} Bangkok
        
    .col-md-4
      .thumb
        %header.thumb-header
          = link_to 'https://tripscrave.comencia.com/search/result?destinationString=+Lahore%2C+Pakistan&site_supply=booking_dot_com&latitude=31.56219&longitude=74.32285&geographyId=2068&regionType=A-CITY&destinationId=-2767043&room1=2&arrivalDate=04%2F30%2F2018&departureDate=05%2F01%2F2018&adults_count_room_1=2&children_count_room_1=0&infant_count_room_1=0', class: 'hover-img' do
            = image_tag "cities/lahore.jpg"
            %h5.hover-title-center Book Now
        .thumb-caption          
          %h5.thumb-title
            %a.text-darken{:href => "#"} Lahore
          
    .col-md-4
      .thumb
        %header.thumb-header
          = link_to 'https://tripscrave.comencia.com/search/result?destinationString=+Karachi%2C+Pakistan&site_supply=booking_dot_com&latitude=24.8666992188&longitude=67.0500030518&geographyId=1809&regionType=A-CITY&destinationId=-2764584&room1=2&arrivalDate=04%2F30%2F2018&departureDate=05%2F01%2F2018&adults_count_room_1=2&children_count_room_1=0&infant_count_room_1=0', class: 'hover-img' do
            = image_tag "cities/karachi.jpg"
            %h5.hover-title-center Book Now
        .thumb-caption          
          %h5.thumb-title
            %a.text-darken{:href => "#"} Karachi
  .gap.gap-small